table {
    border-collapse: collapse;
    margin: 20px 0;
}
td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
form {
    border: 1px solid #333;
    padding: 20px;
    margin: 20px 0;
    max-width: 300px;
}
label, input {
    display: block;
    margin-bottom: 10px;
}